env/
venv/
*__pycache__*
*__pycache__*!/static/uploads/
/static/uploads/
/localhost.crt
/localhost.key
*.log*
activate.sh
*.gz
/.idea/misc.xml
.env*
/.env
/.env.prod
/.env.dev
/.env.test.local
/.env.test.in.docker
.idea/
.vscode/
.ropeproject
