env/
venv/
/.env
*__pycache__*
*__pycache__*!/static/uploads/
/static/uploads/
/localhost.crt
/localhost.key
*.log
activate.sh
restart.log
restart.log.1.gz
sysd0.log
sysd0.log.1.gz
sysd1.log
sysd1.log.1.gz
