services:
  postgres_test:
    image: postgres:17
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: test_db
    ports:
      - "5432:5432"
    networks:
      - test-network

networks:
  test-network:
    driver: bridge
