version: 1
disable_existing_loggers: false
formatters:
  console:
    format: '[%(levelname)s] %(asctime)s %(name)s - %(message)s'
    datefmt: '%H:%M:%S'
  detailed:
    format: '%(asctime)s [%(levelname)s] %(name)s - %(message)s - Class: %(classname)s - Func: %(funcName)s'
  simple:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s - Class: %(classname)s - Func: %(funcName)s'
handlers:
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: console
    stream: ext://sys.stdout  # Direct logs to standard output (console)
  file:
    class: logging.handlers.RotatingFileHandler
    level: DEBUG
    formatter: detailed
    filename: backend.log
    maxBytes: 10485760  # 10MB
    backupCount: 5
filters:
  context_filter:
    (): src.logging_config.ContextFilter
loggers:
  fastapi:
    level: DEBUG
    handlers: [console, file]
    propagate: no
  server:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  config:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  db:
    level: DEBUG
    handlers: [ console, file ]
    filters: [context_filter]
    propagate: no
  helpers:
    level: ERROR
    handlers: [ console, file ]
    propagate: no
  fetch_data:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  text_helpers:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  file_service:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  proxy_manager:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  request_services:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  router_registry:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  service_registry:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no

  MatchDataWebSocketManager:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  ConnectionManager:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  MatchWebSocketHandler:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  ScoreboardUpdateManager:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  ScoreboardServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  ClockManager:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  PlayClockServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  GameClockServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no

  SeasonServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  SportServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  TournamentServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  TeamServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  TeamTournamentServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  MatchServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  MatchDataServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  PersonServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  PlayerServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  PositionServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  PlayerTeamTournamentServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  PlayerMatchServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  SponsorServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  SponsorLineServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  SponsorSponsorLineServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  FootballEventServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  MatchStatsServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  GlobalSettingServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  RoleServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  UserServiceDB:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no

  SeasonAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  SportAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  TournamentAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  TeamAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  MatchAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  MatchCRUDRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  PersonAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  PlayerAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  PositionAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  PlayerTeamTournamentAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  PlayerMatchAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  SponsorAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  SponsorLineAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  SponsorSponsorLineAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  FootballEventAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no

  MatchDataAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  ScoreboardAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  GameClockAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  PlayClockAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  AuthRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  GlobalSettingAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  RoleAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  UserAPIRouter:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no

  parse_eesl:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  parse_players_from_eesl:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  parse_players_from_team_tournament_eesl:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  parse_match_eesl:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no

  imageprocessing:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  upload:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  download:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  filesystem:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  db_session_manager:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no
  MatchDataCacheService:
    level: DEBUG
    handlers: [ console, file ]
    propagate: no

  tests:
    level: WARNING
    handlers: [ console, file ]
    propagate: no
  root:
    level: WARNING
    handlers: [console]
